*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    border: 0px solid black;
    text-align: center;
    margin: auto;
}

.yourNumber {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 25%;
    margin: auto;
}

h2 {
    margin-top: 1em;
}

.yourNumber p {
    font-weight: bold;
    color: Purple;
    margin: 24px 0 0 0;
    padding: 0;
}

.valueDisplay {
    width: 25%;
    margin: 1em auto;
    border: 1px solid black;
    border-radius: 5px;
}

p {
    text-align: center;
    margin: 1em auto;
    width: 20%;
    font-size: 1.3em;
    border-radius: 5px;
}




